.menu *{
  margin: 0;
  padding: 0;
}
.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu ul li{
  position: relative;
    border-top: 2px solid black;
}
.menu ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: gray;
  color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.menu ul li a:hover {
  background-color: black;
}
.menu ul li:first-child{
  border-left: 2px solid black;
}
.menu ul li>ul {
  display: none;
  width: 100px;
  top: 40px;
  left: -2px;
  position: absolute;
}
.menu ul li>ul li{
border: none;
border-left: 2px solid black;
}
.menu ul li:hover ul{
  display: block;
}
.menu ul li>ul li>ul li{
  display:  none;
}
.menu ul li>ul li>ul li:first-child {
  border-top: 2px solid black;
}
.menu ul li> ul li>ul{
  position: absolute;
  top: -2px;
  left: 96px;
}
.menu ul li>ul li:hover ul li{
  display: block;
}
